body {
  text-align: center;
  font-family: Arial, Verdana, San-serif;
}

figcaption {
  font-style: italic;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#title {
  color: Aqua; 
}

#links {
  margin-top: 40px;
}

.boxart {
  display: inline-block;
  margin: 20px;
}
